
*{
    margin: 0px;
    padding: 0px;
}

p{
    font-family: 'Alata', sans-serif;
    font-size: 18px;
}

h1{
    font-family: 'Lobster', serif;
    font-size: 60px;
    text-align: center;
    padding: 40px;
}

h2{
    font-family:'Lobster Two', serif;
}

h3{
    font-family: 'Alata', sans-serif;
    font-size: 20px;
}


body{
    font-size: 18px;
    font-family:Arial, Helvetica, sans-serif;
    text-align: left;
    background-color: rgb(237, 223, 213);
}

/*header section*/

header {
  background-color: #fef4e8;
  border-bottom: 1px solid #466995;
  position: fixed;
  width: 100%;
  z-index: 10;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

header img{
    height: 100px;
    width: 100px;
    padding-left: 50px;
    display: inline;
}

header ul {
  margin: 20px auto;
  padding: 0 20px;
  text-align: center;
}

header li{
  color: #693737;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration:underline;
  display: inline-block;
  width: 200px;
}

header a{
    color:#341e1e;
    transition: color 200ms ease-out 100ms;
}

a:hover {
  color: #d27171;
}

header nav {
    display:inline-block;
}

/*hero section*/

.hero{
    background-image: url(../CSS/Images/Wood.jpg);
    background-size: cover;
    background-position: left;
    background-repeat:no-repeat;
    text-align: center;
    padding-top: 250px;
    padding-bottom: 200px;
    position: relative;
    z-index: 1;
}

.hero h1{
    color: whitesmoke;
}

.hero h3{
    color:rgb(255, 255, 255)
}

#bestcoffee{
    font-weight: bold;
    color: rgb(195, 252, 230);
}



/*coffeetypes*/

.coffee{
     text-align: center;
     padding: 100px;
     border: 10px solid cadetblue;
     background-color: white;
     position: sticky;
     top: 60px;
     margin: 40px auto;
     max-width: 400px;
}

.coffeecup{
    height: 100px;
    width: 100px;
}

/*icon section*/

.iconsection{
    background-image: url(../CSS/Images/Wood.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.iconsection .keypoint{
     text-align: center;
     padding: 100px;
     border: 2px solid #814848;
     background-color: white;
     display: inline-block;
     min-height: 150px;
     min-width: 150px;
     border-radius: 50%;
     margin: 70px auto;
     max-width: 400px;
}

.iconsection .keypoint img{
    height: 100px;
    width: 100px;
    margin: 40 auto;
}

/*Coffee of the month section*/

.titlecontainer{
    background-color:cadetblue;
    max-height: 200px;
    padding-top: 80px;
}

.titlecontainer h1{
    text-align: center;
    color: white;
    padding-top: 50px;
}

.titlecontainer h3{
    text-align: center;
    color: white;
    padding: 10px;
}

.monthcontainer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding-top: 100px;
    padding-bottom: 200px;
    margin: 0 auto;
    background-color: cadetblue;
}


.monthcontainer #monthcontent p{
    color: white;
    text-align: center;
    padding-bottom: 20px;
}

.monthcontainer #monthcontent img{
    max-height: 200px;
    max-width: 300px;
}

/*contact section*/

.contactsection{
    background-image: url(../Images/Coffeebar-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    min-height: 500px;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.contactsection .detailbox{
    background-color:#341e1e;
    border-radius: 20px;
    min-width: 300px;
    min-height: 160px;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
}

.contactsection .detailbox .detail{
    color: white;
    text-align: center;
    padding: 15px;
}

.contactsection .detailbox i{
    color: white;
    text-align: center;
    font-size: 2rem;
}

/*footer section*/

footer{
    background-color:cadetblue;
    min-height: 65px;
    align-content: center;
}

footer .footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    align-content: center;
}

footer p{
    font-size: 16px;
    font-weight: lighter;
    color: white;

}